.body_container{
    background-color: #06171E;
}

.header_container{
    display: flex;
    align-items: center;
    padding-top: 6.65px;
    padding-left: 49.31px;
    gap: 5px;
}

.fotogram_container{
    width: 215.19px;
    height: 41px;
    color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    
}

.picture_logo{
    width: 40.55px;
    height: 38.74px;
}

.album_title{
    width: 1,175px;
    height: 67px;
    font-family: 'Figtree', sans-serif;
    font-size: 400%;
    font-style: extra-bold;
    height: 56px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 80px;
    color: #FFFFFF;
}

.album_picture{
    width: 150px;
    height: 150px;
    border-radius: 16px;
}

.album_container{
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    max-width: 1200px;
    
}

.album_wrapper{
    display: flex;
    justify-content: center;
}

@media (max-width: 1296px){
    .header_container{
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 547px){
    .album_title{
        font-size: 300%;
    }
}

@media(max-width: 560){
    .album_title{
        font-size: 200%;
    }
}

@media(max-width: 547px){
    .album_title{
        font-size: 300%;
        padding-bottom: 80px;
    }
}

@media(max-width: 375px){
    .album_title{
        padding-bottom: 160px;
    }
}