.body_container{
    background-color: #06171E;
}

.header_container{
    display: flex;
    align-items: center;
    padding-top: 6.65px;
    padding-left: 49.31px;
    gap: 2.26px;
}

.fotogram_container{
    width: 215.19px;
    height: 41px;
    color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    
}

.picture_logo{
    width: 40.55px;
    height: 38.74px;
}

.album_title{
    width: 1,175px;
    height: 67px;
    font-family: 'Figtree', sans-serif;
    font-size: 800%;
    font-style: extra-bold;
    height: 56px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 80px;
    color: #FFFFFF;
}

.album_picture{
    width: 150px;
    height: 150px;
    border-radius: 16px;
    padding-bottom: 48px;
}

.album_container{
    display: flex;
    justify-content: center;
    gap: 16px;
    
}


@media (max-width: 1296px){
    .header_container{
        display: flex;
        justify-content: center;
    }

    .album_title{
        font-size: 500%;
        padding-top: 80px;
    }
}

@media (max-width: 1148px){
    .album_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        max-width: 400px;
        margin: auto;
    }
}

@media (max-width: 547px){
    .album_title{
        font-size: 300%;
    }
}