.body_container{
    background-color: #06171E;
}

.header_container{
    display: flex;
    align-items: center;
    padding-top: 6.65px;
    padding-left: 49.31px;
}

.fotogram_container{
    width: 215.19px;
    height: 41px;
    color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    
}

.picture_logo{
    width: 40.55px;
    height: 38.74px;
}

.album_title{
    width: 1,175px;
    height: 67px;
    font-family: 'Figtree', sans-serif;
    font-size: 800%;
    font-style: extra-bold;
    height: 56px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 80px;
    color: #FFFFFF;
}

.album_picture{
    width: 150px;
    height: 150px;
    border-radius: 16px;
    padding-bottom: 48px;
}

.album_container{
    display: flex;
    justify-content: center;
    gap: 16px;
    
}