.body_container{
    background-color: #06171E;
}

.header_container{
    display: flex;
    align-items: center;
    padding-top: 6.65px;
    padding-left: 49.31px;
}

.fotogram_container{
    width: 215.19px;
    height: 41px;
    color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    
}

.picture_logo{
    width: 40.55px;
    height: 38.74px;
}

