.body_container{
    background-color: #06171E;
}

.header_container{
    display: flex;
    align-items: center;
    padding-top: 6.65px;
    padding-left: 49.31px;
    gap: 5px;
}

.fotogram_container{
    width: 215.19px;
    height: 41px;
    color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    
}

.picture_logo{
    width: 40.55px;
    height: 38.74px;
}

.album_title{
    width: 1,175px;
    height: 67px;
    font-family: 'Figtree', sans-serif;
    font-size: 400%;
    font-style: extra-bold;
    height: 56px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #FFFFFF;
}

.album_picture{
    width: 150px;
    height: 150px;
    border-radius: 16px;
}

.album_container{
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    max-width: 1200px;
    
}

.album_wrapper{
    display: flex;
    justify-content: center;
}

@media (max-width: 1296px){
    .header_container{
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 547px){
    .album_title{
        font-size: 300%;
    }
}

@media(max-width: 560){
    .album_title{
        font-size: 200%;
    }
}

@media(max-width: 547px){
    .album_title{
        font-size: 300%;
        padding-bottom: 80px;
    }
}

@media(max-width: 375px){
    .album_title{
        padding-bottom: 160px;
    }
}


.modal{
    display: none;
    position: fixed;
    height: 80%;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 5px;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.left,
.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    padding: 16px;
    transition: 0.3s;
    user-select: none;
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

.close-btn:hover,
.prev-btn:hover,
.next-btn:hover {
    color: #bbb;
}

.album_picture {
    cursor: pointer;
    transition: transform 0.2s;
}

.album_picture:hover {
    transform: scale(1.05);

}