.body_container{
    background-color: #06171E;
}

.fotogram_container{
    width: 215.19px;
    height: 41px;
    color: #FFFFFF;
    padding-top: 6.65px;
}

.picture_logo{
    width: 40.55px;
    height: 38.74px;
}

